<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>cyrl_DFLT</key>
  <array>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0436</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043F</string>
    <string>uni0442</string>
    <string>uni0446</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044E</string>
  </array>
  <key>locl_BGR</key>
  <array>
    <string>uni0432.loclBGR</string>
    <string>uni0433.loclBGR</string>
    <string>uni0434.loclBGR</string>
    <string>uni0436.loclBGR</string>
    <string>uni0438.loclBGR</string>
    <string>uni0439.loclBGR</string>
    <string>uni043A.loclBGR</string>
    <string>uni043F.loclBGR</string>
    <string>uni0442.loclBGR</string>
    <string>uni0446.loclBGR</string>
    <string>uni0448.loclBGR</string>
    <string>uni0449.loclBGR</string>
    <string>uni044E.loclBGR</string>
  </array>
</dict>
</plist>
