<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>A</string>
    <string>AE</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>B</string>
    <string>C</string>
    <string>CR</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Delta</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Eth</string>
    <string>Euro</string>
    <string>F</string>
    <string>G</string>
    <string>Gamma</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>H</string>
    <string>Hcircumflex</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>K</string>
    <string>Kcommaaccent</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Lslash</string>
    <string>M</string>
    <string>N</string>
    <string>NULL</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omega</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>P</string>
    <string>Phi</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>S</string>
    <string>SF010000</string>
    <string>SF020000</string>
    <string>SF030000</string>
    <string>SF040000</string>
    <string>SF050000</string>
    <string>SF060000</string>
    <string>SF070000</string>
    <string>SF080000</string>
    <string>SF090000</string>
    <string>SF100000</string>
    <string>SF110000</string>
    <string>SF190000</string>
    <string>SF200000</string>
    <string>SF210000</string>
    <string>SF220000</string>
    <string>SF230000</string>
    <string>SF240000</string>
    <string>SF250000</string>
    <string>SF260000</string>
    <string>SF270000</string>
    <string>SF280000</string>
    <string>SF360000</string>
    <string>SF370000</string>
    <string>SF380000</string>
    <string>SF390000</string>
    <string>SF400000</string>
    <string>SF410000</string>
    <string>SF420000</string>
    <string>SF430000</string>
    <string>SF440000</string>
    <string>SF450000</string>
    <string>SF460000</string>
    <string>SF470000</string>
    <string>SF480000</string>
    <string>SF490000</string>
    <string>SF500000</string>
    <string>SF510000</string>
    <string>SF520000</string>
    <string>SF530000</string>
    <string>SF540000</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>Sigma</string>
    <string>T</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Theta</string>
    <string>Thorn</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>acute</string>
    <string>uni0301</string>
    <string>adieresis</string>
    <string>ae</string>
    <string>agrave</string>
    <string>alpha</string>
    <string>amacron</string>
    <string>ampersand</string>
    <string>aogonek</string>
    <string>approxequal</string>
    <string>aring</string>
    <string>arrowboth</string>
    <string>arrowdown</string>
    <string>arrowleft</string>
    <string>arrowright</string>
    <string>arrowup</string>
    <string>arrowupdn</string>
    <string>arrowupdnbse</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>asterisk</string>
    <string>at</string>
    <string>atilde</string>
    <string>b</string>
    <string>backslash</string>
    <string>bar</string>
    <string>beta</string>
    <string>block</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>breve</string>
    <string>brokenbar</string>
    <string>bullet</string>
    <string>c</string>
    <string>cacute</string>
    <string>caron</string>
    <string>carriagereturn</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cedilla</string>
    <string>cent</string>
    <string>char0</string>
    <string>circle</string>
    <string>circumflex</string>
    <string>club</string>
    <string>colon</string>
    <string>comma</string>
    <string>copyright</string>
    <string>currency</string>
    <string>d</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>degree</string>
    <string>delta</string>
    <string>diamond</string>
    <string>dieresis</string>
    <string>divide</string>
    <string>dkshade</string>
    <string>dnblock</string>
    <string>dollar</string>
    <string>dotaccent</string>
    <string>dotbelowcomb</string>
    <string>dotlessi</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>eight</string>
    <string>element</string>
    <string>ellipsis</string>
    <string>emacron</string>
    <string>emdash</string>
    <string>emptyset</string>
    <string>endash</string>
    <string>eogonek</string>
    <string>equal</string>
    <string>equivalence</string>
    <string>eth</string>
    <string>exclam</string>
    <string>exclamdbl</string>
    <string>exclamdown</string>
    <string>f</string>
    <string>female</string>
    <string>figuredash</string>
    <string>filledbox</string>
    <string>filledrect</string>
    <string>five</string>
    <string>florin</string>
    <string>four</string>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>germandbls</string>
    <string>grave</string>
    <string>uni0300</string>
    <string>greater</string>
    <string>greaterequal</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>h</string>
    <string>hcircumflex</string>
    <string>heart</string>
    <string>hookabovecomb</string>
    <string>house</string>
    <string>hungarumlaut</string>
    <string>hyphen</string>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>infinity</string>
    <string>integralbt</string>
    <string>integraltp</string>
    <string>intersection</string>
    <string>invbullet</string>
    <string>invcircle</string>
    <string>invsmileface</string>
    <string>iogonek</string>
    <string>j</string>
    <string>jcircumflex</string>
    <string>k</string>
    <string>kcommaaccent</string>
    <string>l</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>less</string>
    <string>lessequal</string>
    <string>lfblock</string>
    <string>logicalnot</string>
    <string>lozenge</string>
    <string>lslash</string>
    <string>ltshade</string>
    <string>m</string>
    <string>macron</string>
    <string>male</string>
    <string>minus</string>
    <string>mu</string>
    <string>multiply</string>
    <string>musicalnote</string>
    <string>musicalnotedbl</string>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>nine</string>
    <string>notequal</string>
    <string>ntilde</string>
    <string>numbersign</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ogonek</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>one</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>orthogonal</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>overscore</string>
    <string>p</string>
    <string>paragraph</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>percent</string>
    <string>period</string>
    <string>periodcentered</string>
    <string>perthousand</string>
    <string>peseta</string>
    <string>pi</string>
    <string>plus</string>
    <string>plusminus</string>
    <string>q</string>
    <string>question</string>
    <string>questiondown</string>
    <string>quotedbl</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotesingle</string>
    <string>r</string>
    <string>racute</string>
    <string>radical</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
    <string>registered</string>
    <string>revlogicalnot</string>
    <string>rtblock</string>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
    <string>section</string>
    <string>semicolon</string>
    <string>seven</string>
    <string>shade</string>
    <string>sigma</string>
    <string>six</string>
    <string>slash</string>
    <string>smileface</string>
    <string>space</string>
    <string>spade</string>
    <string>sterling</string>
    <string>sun</string>
    <string>t</string>
    <string>tau</string>
    <string>tcaron</string>
    <string>tcedilla</string>
    <string>thorn</string>
    <string>three</string>
    <string>threequarters</string>
    <string>tilde</string>
    <string>uni0303</string>
    <string>trademark</string>
    <string>triagdn</string>
    <string>triagup</string>
    <string>two</string>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>underscore</string>
    <string>underscoredbl</string>
    <string>uni00A0</string>
    <string>uni00AD</string>
    <string>uni00B2</string>
    <string>uni00B3</string>
    <string>uni00B9</string>
    <string>uni0162</string>
    <string>uni0163</string>
    <string>uni021A</string>
    <string>uni021B</string>
    <string>uni02C9</string>
    <string>uni0302</string>
    <string>uni0304</string>
    <string>uni0305</string>
    <string>uni0306</string>
    <string>uni0307</string>
    <string>uni0308</string>
    <string>uni030A</string>
    <string>uni030B</string>
    <string>uni030C</string>
    <string>uni030D</string>
    <string>uni030E</string>
    <string>uni030F</string>
    <string>uni0310</string>
    <string>uni0311</string>
    <string>uni0312</string>
    <string>uni0313</string>
    <string>uni0314</string>
    <string>uni0315</string>
    <string>uni0316</string>
    <string>uni0317</string>
    <string>uni0318</string>
    <string>uni0319</string>
    <string>uni031A</string>
    <string>uni031B</string>
    <string>uni031C</string>
    <string>uni031D</string>
    <string>uni031E</string>
    <string>uni031F</string>
    <string>uni0320</string>
    <string>uni0321</string>
    <string>uni0322</string>
    <string>uni0324</string>
    <string>uni0325</string>
    <string>uni0326</string>
    <string>uni0327</string>
    <string>uni0328</string>
    <string>uni0329</string>
    <string>uni032A</string>
    <string>uni032B</string>
    <string>uni032C</string>
    <string>uni032D</string>
    <string>uni032E</string>
    <string>uni032F</string>
    <string>uni0330</string>
    <string>uni0331</string>
    <string>uni0332</string>
    <string>uni0333</string>
    <string>uni0334</string>
    <string>uni0335</string>
    <string>uni0336</string>
    <string>uni0337</string>
    <string>uni0338</string>
    <string>uni0339</string>
    <string>uni033A</string>
    <string>uni033B</string>
    <string>uni033C</string>
    <string>uni033D</string>
    <string>uni033E</string>
    <string>uni033F</string>
    <string>uni0340</string>
    <string>uni0341</string>
    <string>uni0342</string>
    <string>uni0343</string>
    <string>uni0344</string>
    <string>uni0345</string>
    <string>uni0346</string>
    <string>uni0347</string>
    <string>uni0348</string>
    <string>uni0349</string>
    <string>uni034A</string>
    <string>uni034B</string>
    <string>uni034C</string>
    <string>uni034D</string>
    <string>uni034E</string>
    <string>uni0360</string>
    <string>uni0361</string>
    <string>uni0362</string>
    <string>uni0394</string>
    <string>uni03A9</string>
    <string>uni03BC</string>
    <string>uni0401</string>
    <string>uni0402</string>
    <string>uni0403</string>
    <string>uni0404</string>
    <string>uni0405</string>
    <string>uni0406</string>
    <string>uni0407</string>
    <string>uni0408</string>
    <string>uni0409</string>
    <string>uni040A</string>
    <string>uni040B</string>
    <string>uni040C</string>
    <string>uni040E</string>
    <string>uni040F</string>
    <string>uni0410</string>
    <string>uni0411</string>
    <string>uni0412</string>
    <string>uni0413</string>
    <string>uni0414</string>
    <string>uni0415</string>
    <string>uni0416</string>
    <string>uni0417</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni041E</string>
    <string>uni041F</string>
    <string>uni0420</string>
    <string>uni0421</string>
    <string>uni0422</string>
    <string>uni0423</string>
    <string>uni0424</string>
    <string>uni0425</string>
    <string>uni0426</string>
    <string>uni0427</string>
    <string>uni0428</string>
    <string>uni0429</string>
    <string>uni042A</string>
    <string>uni042B</string>
    <string>uni042C</string>
    <string>uni042D</string>
    <string>uni042E</string>
    <string>uni042F</string>
    <string>uni0430</string>
    <string>uni0431</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0435</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043B</string>
    <string>uni043C</string>
    <string>uni043D</string>
    <string>uni043E</string>
    <string>uni043F</string>
    <string>uni0440</string>
    <string>uni0441</string>
    <string>uni0442</string>
    <string>uni0443</string>
    <string>uni0444</string>
    <string>uni0445</string>
    <string>uni0446</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044C</string>
    <string>uni044D</string>
    <string>uni044E</string>
    <string>uni044F</string>
    <string>uni0451</string>
    <string>uni0452</string>
    <string>uni0453</string>
    <string>uni0454</string>
    <string>uni0455</string>
    <string>uni0456</string>
    <string>uni0457</string>
    <string>uni0458</string>
    <string>uni0459</string>
    <string>uni045A</string>
    <string>uni045B</string>
    <string>uni045C</string>
    <string>uni045E</string>
    <string>uni045F</string>
    <string>uni0483</string>
    <string>uni0484</string>
    <string>uni0485</string>
    <string>uni0486</string>
    <string>uni0488</string>
    <string>uni0489</string>
    <string>uni0490</string>
    <string>uni0491</string>
    <string>uni0492</string>
    <string>uni0493</string>
    <string>uni0496</string>
    <string>uni0497</string>
    <string>uni0498</string>
    <string>uni0499</string>
    <string>uni049A</string>
    <string>uni049B</string>
    <string>uni049C</string>
    <string>uni049D</string>
    <string>uni04A0</string>
    <string>uni04A1</string>
    <string>uni04A2</string>
    <string>uni04A3</string>
    <string>uni04AA</string>
    <string>uni04AB</string>
    <string>uni04AE</string>
    <string>uni04AF</string>
    <string>uni04B0</string>
    <string>uni04B1</string>
    <string>uni04B2</string>
    <string>uni04B3</string>
    <string>uni04B6</string>
    <string>uni04B7</string>
    <string>uni04B8</string>
    <string>uni04B9</string>
    <string>uni04BA</string>
    <string>uni04BB</string>
    <string>uni04D8</string>
    <string>uni04D9</string>
    <string>uni04E2</string>
    <string>uni04E3</string>
    <string>uni04E8</string>
    <string>uni04E9</string>
    <string>uni04EE</string>
    <string>uni04EF</string>
    <string>uni0591</string>
    <string>uni0592</string>
    <string>uni0593</string>
    <string>uni0594</string>
    <string>uni0595</string>
    <string>uni0596</string>
    <string>uni0597</string>
    <string>uni0598</string>
    <string>uni0599</string>
    <string>uni059A</string>
    <string>uni059B</string>
    <string>uni059C</string>
    <string>uni059D</string>
    <string>uni059E</string>
    <string>uni059F</string>
    <string>uni05A0</string>
    <string>uni05A1</string>
    <string>uni05A3</string>
    <string>uni05A4</string>
    <string>uni05A5</string>
    <string>uni05A6</string>
    <string>uni05A7</string>
    <string>uni05A8</string>
    <string>uni05A9</string>
    <string>uni05AA</string>
    <string>uni05AB</string>
    <string>uni05AC</string>
    <string>uni05AD</string>
    <string>uni05AE</string>
    <string>uni05AF</string>
    <string>uni05B0</string>
    <string>uni05B1</string>
    <string>uni05B2</string>
    <string>uni05B3</string>
    <string>uni05B4</string>
    <string>uni05B5</string>
    <string>uni05B6</string>
    <string>uni05B7</string>
    <string>uni05B8</string>
    <string>uni05B9</string>
    <string>uni05BB</string>
    <string>uni05BC</string>
    <string>uni05BD</string>
    <string>uni05BF</string>
    <string>uni05C1</string>
    <string>uni05C2</string>
    <string>uni05C4</string>
    <string>uni064B</string>
    <string>uni064C</string>
    <string>uni064D</string>
    <string>uni064E</string>
    <string>uni064F</string>
    <string>uni0650</string>
    <string>uni0651</string>
    <string>uni0652</string>
    <string>uni0653</string>
    <string>uni0654</string>
    <string>uni0655</string>
    <string>uni0670</string>
    <string>uni06D6</string>
    <string>uni06D7</string>
    <string>uni06D8</string>
    <string>uni06D9</string>
    <string>uni06DA</string>
    <string>uni06DB</string>
    <string>uni06DC</string>
    <string>uni06DD</string>
    <string>uni06DE</string>
    <string>uni06DF</string>
    <string>uni06E0</string>
    <string>uni06E1</string>
    <string>uni06E2</string>
    <string>uni06E3</string>
    <string>uni06E4</string>
    <string>uni06E7</string>
    <string>uni06E8</string>
    <string>uni06EA</string>
    <string>uni06EB</string>
    <string>uni06EC</string>
    <string>uni06ED</string>
    <string>uni0711</string>
    <string>uni0730</string>
    <string>uni0731</string>
    <string>uni0732</string>
    <string>uni0733</string>
    <string>uni0734</string>
    <string>uni0735</string>
    <string>uni0736</string>
    <string>uni0737</string>
    <string>uni0738</string>
    <string>uni0739</string>
    <string>uni073A</string>
    <string>uni073B</string>
    <string>uni073C</string>
    <string>uni073D</string>
    <string>uni073E</string>
    <string>uni073F</string>
    <string>uni0740</string>
    <string>uni0741</string>
    <string>uni0742</string>
    <string>uni0743</string>
    <string>uni0744</string>
    <string>uni0745</string>
    <string>uni0746</string>
    <string>uni0747</string>
    <string>uni0748</string>
    <string>uni0749</string>
    <string>uni074A</string>
    <string>uni07A6</string>
    <string>uni07A7</string>
    <string>uni07A8</string>
    <string>uni07A9</string>
    <string>uni07AA</string>
    <string>uni07AB</string>
    <string>uni07AC</string>
    <string>uni07AD</string>
    <string>uni07AE</string>
    <string>uni07AF</string>
    <string>uni07B0</string>
    <string>uni0901</string>
    <string>uni0902</string>
    <string>uni0903</string>
    <string>uni093C</string>
    <string>uni093E</string>
    <string>uni093F</string>
    <string>uni0940</string>
    <string>uni0941</string>
    <string>uni0942</string>
    <string>uni0943</string>
    <string>uni0944</string>
    <string>uni0945</string>
    <string>uni0946</string>
    <string>uni0947</string>
    <string>uni0948</string>
    <string>uni0949</string>
    <string>uni094A</string>
    <string>uni094B</string>
    <string>uni094C</string>
    <string>uni094D</string>
    <string>uni0951</string>
    <string>uni0952</string>
    <string>uni0953</string>
    <string>uni0954</string>
    <string>uni0962</string>
    <string>uni0963</string>
    <string>uni0981</string>
    <string>uni0982</string>
    <string>uni0983</string>
    <string>uni09BC</string>
    <string>uni09BE</string>
    <string>uni09BF</string>
    <string>uni09C0</string>
    <string>uni09C1</string>
    <string>uni09C2</string>
    <string>uni09C3</string>
    <string>uni09C4</string>
    <string>uni09C7</string>
    <string>uni09C8</string>
    <string>uni09CB</string>
    <string>uni09CC</string>
    <string>uni09CD</string>
    <string>uni09D7</string>
    <string>uni09E2</string>
    <string>uni09E3</string>
    <string>uni0A02</string>
    <string>uni0A3C</string>
    <string>uni0A3E</string>
    <string>uni0A3F</string>
    <string>uni0A40</string>
    <string>uni0A41</string>
    <string>uni0A42</string>
    <string>uni0A47</string>
    <string>uni0A48</string>
    <string>uni0A4B</string>
    <string>uni0A4C</string>
    <string>uni0A4D</string>
    <string>uni0A70</string>
    <string>uni0A71</string>
    <string>uni0A81</string>
    <string>uni0A82</string>
    <string>uni0A83</string>
    <string>uni0ABC</string>
    <string>uni0ABE</string>
    <string>uni0ABF</string>
    <string>uni0AC0</string>
    <string>uni0AC1</string>
    <string>uni0AC2</string>
    <string>uni0AC3</string>
    <string>uni0AC4</string>
    <string>uni0AC5</string>
    <string>uni0AC7</string>
    <string>uni0AC8</string>
    <string>uni0AC9</string>
    <string>uni0ACB</string>
    <string>uni0ACC</string>
    <string>uni0ACD</string>
    <string>uni0B01</string>
    <string>uni0B02</string>
    <string>uni0B03</string>
    <string>uni0B3C</string>
    <string>uni0B3E</string>
    <string>uni0B3F</string>
    <string>uni0B40</string>
    <string>uni0B41</string>
    <string>uni0B42</string>
    <string>uni0B43</string>
    <string>uni0B47</string>
    <string>uni0B48</string>
    <string>uni0B4B</string>
    <string>uni0B4C</string>
    <string>uni0B4D</string>
    <string>uni0B56</string>
    <string>uni0B57</string>
    <string>uni0B82</string>
    <string>uni0B83</string>
    <string>uni0BBE</string>
    <string>uni0BBF</string>
    <string>uni0BC0</string>
    <string>uni0BC1</string>
    <string>uni0BC2</string>
    <string>uni0BC6</string>
    <string>uni0BC7</string>
    <string>uni0BC8</string>
    <string>uni0BCA</string>
    <string>uni0BCB</string>
    <string>uni0BCC</string>
    <string>uni0BCD</string>
    <string>uni0BD7</string>
    <string>uni0C01</string>
    <string>uni0C02</string>
    <string>uni0C03</string>
    <string>uni0C3E</string>
    <string>uni0C3F</string>
    <string>uni0C40</string>
    <string>uni0C41</string>
    <string>uni0C42</string>
    <string>uni0C43</string>
    <string>uni0C44</string>
    <string>uni0C46</string>
    <string>uni0C47</string>
    <string>uni0C48</string>
    <string>uni0C4A</string>
    <string>uni0C4B</string>
    <string>uni0C4C</string>
    <string>uni0C4D</string>
    <string>uni0C55</string>
    <string>uni0C56</string>
    <string>uni0C82</string>
    <string>uni0C83</string>
    <string>uni0CBE</string>
    <string>uni0CBF</string>
    <string>uni0CC0</string>
    <string>uni0CC1</string>
    <string>uni0CC2</string>
    <string>uni0CC3</string>
    <string>uni0CC4</string>
    <string>uni0CC6</string>
    <string>uni0CC7</string>
    <string>uni0CC8</string>
    <string>uni0CCA</string>
    <string>uni0CCB</string>
    <string>uni0CCC</string>
    <string>uni0CCD</string>
    <string>uni0CD5</string>
    <string>uni0CD6</string>
    <string>uni0D02</string>
    <string>uni0D03</string>
    <string>uni0D3E</string>
    <string>uni0D3F</string>
    <string>uni0D40</string>
    <string>uni0D41</string>
    <string>uni0D42</string>
    <string>uni0D43</string>
    <string>uni0D46</string>
    <string>uni0D47</string>
    <string>uni0D48</string>
    <string>uni0D4A</string>
    <string>uni0D4B</string>
    <string>uni0D4C</string>
    <string>uni0D4D</string>
    <string>uni0D57</string>
    <string>uni0D82</string>
    <string>uni0D83</string>
    <string>uni0DCA</string>
    <string>uni0DCF</string>
    <string>uni0DD0</string>
    <string>uni0DD1</string>
    <string>uni0DD2</string>
    <string>uni0DD3</string>
    <string>uni0DD4</string>
    <string>uni0DD6</string>
    <string>uni0DD8</string>
    <string>uni0DD9</string>
    <string>uni0DDA</string>
    <string>uni0DDB</string>
    <string>uni0DDC</string>
    <string>uni0DDD</string>
    <string>uni0DDE</string>
    <string>uni0DDF</string>
    <string>uni0DF2</string>
    <string>uni0DF3</string>
    <string>uni0E31</string>
    <string>uni0E34</string>
    <string>uni0E35</string>
    <string>uni0E36</string>
    <string>uni0E37</string>
    <string>uni0E38</string>
    <string>uni0E39</string>
    <string>uni0E3A</string>
    <string>uni0E47</string>
    <string>uni0E48</string>
    <string>uni0E49</string>
    <string>uni0E4A</string>
    <string>uni0E4B</string>
    <string>uni0E4C</string>
    <string>uni0E4D</string>
    <string>uni0E4E</string>
    <string>uni0EB1</string>
    <string>uni0EB4</string>
    <string>uni0EB5</string>
    <string>uni0EB6</string>
    <string>uni0EB7</string>
    <string>uni0EB8</string>
    <string>uni0EB9</string>
    <string>uni0EBB</string>
    <string>uni0EBC</string>
    <string>uni0EC8</string>
    <string>uni0EC9</string>
    <string>uni0ECA</string>
    <string>uni0ECB</string>
    <string>uni0ECC</string>
    <string>uni0ECD</string>
    <string>uni0F18</string>
    <string>uni0F19</string>
    <string>uni0F35</string>
    <string>uni0F37</string>
    <string>uni0F39</string>
    <string>uni0F3E</string>
    <string>uni0F3F</string>
    <string>uni0F71</string>
    <string>uni0F72</string>
    <string>uni0F73</string>
    <string>uni0F74</string>
    <string>uni0F75</string>
    <string>uni0F76</string>
    <string>uni0F77</string>
    <string>uni0F78</string>
    <string>uni0F79</string>
    <string>uni0F7A</string>
    <string>uni0F7B</string>
    <string>uni0F7C</string>
    <string>uni0F7D</string>
    <string>uni0F7E</string>
    <string>uni0F7F</string>
    <string>uni0F80</string>
    <string>uni0F81</string>
    <string>uni0F82</string>
    <string>uni0F83</string>
    <string>uni0F84</string>
    <string>uni0F86</string>
    <string>uni0F87</string>
    <string>uni0F90</string>
    <string>uni0F91</string>
    <string>uni0F92</string>
    <string>uni0F93</string>
    <string>uni0F94</string>
    <string>uni0F95</string>
    <string>uni0F96</string>
    <string>uni0F97</string>
    <string>uni0F99</string>
    <string>uni0F9A</string>
    <string>uni0F9B</string>
    <string>uni0F9C</string>
    <string>uni0F9D</string>
    <string>uni0F9E</string>
    <string>uni0F9F</string>
    <string>uni0FA0</string>
    <string>uni0FA1</string>
    <string>uni0FA2</string>
    <string>uni0FA3</string>
    <string>uni0FA4</string>
    <string>uni0FA5</string>
    <string>uni0FA6</string>
    <string>uni0FA7</string>
    <string>uni0FA8</string>
    <string>uni0FA9</string>
    <string>uni0FAA</string>
    <string>uni0FAB</string>
    <string>uni0FAC</string>
    <string>uni0FAD</string>
    <string>uni0FAE</string>
    <string>uni0FAF</string>
    <string>uni0FB0</string>
    <string>uni0FB1</string>
    <string>uni0FB2</string>
    <string>uni0FB3</string>
    <string>uni0FB4</string>
    <string>uni0FB5</string>
    <string>uni0FB6</string>
    <string>uni0FB7</string>
    <string>uni0FB8</string>
    <string>uni0FB9</string>
    <string>uni0FBA</string>
    <string>uni0FBB</string>
    <string>uni0FBC</string>
    <string>uni0FC6</string>
    <string>uni102C</string>
    <string>uni102D</string>
    <string>uni102E</string>
    <string>uni102F</string>
    <string>uni1030</string>
    <string>uni1031</string>
    <string>uni1032</string>
    <string>uni1036</string>
    <string>uni1037</string>
    <string>uni1038</string>
    <string>uni1039</string>
    <string>uni1056</string>
    <string>uni1057</string>
    <string>uni1058</string>
    <string>uni1059</string>
    <string>uni17B4</string>
    <string>uni17B5</string>
    <string>uni17B6</string>
    <string>uni17B7</string>
    <string>uni17B8</string>
    <string>uni17B9</string>
    <string>uni17BA</string>
    <string>uni17BB</string>
    <string>uni17BC</string>
    <string>uni17BD</string>
    <string>uni17BE</string>
    <string>uni17BF</string>
    <string>uni17C0</string>
    <string>uni17C1</string>
    <string>uni17C2</string>
    <string>uni17C3</string>
    <string>uni17C4</string>
    <string>uni17C5</string>
    <string>uni17C6</string>
    <string>uni17C7</string>
    <string>uni17C8</string>
    <string>uni17C9</string>
    <string>uni17CA</string>
    <string>uni17CB</string>
    <string>uni17CC</string>
    <string>uni17CD</string>
    <string>uni17CE</string>
    <string>uni17CF</string>
    <string>uni17D0</string>
    <string>uni17D1</string>
    <string>uni17D2</string>
    <string>uni17D3</string>
    <string>uni18A9</string>
    <string>uni2000</string>
    <string>uni2001</string>
    <string>uni2002</string>
    <string>uni2003</string>
    <string>uni2004</string>
    <string>uni2005</string>
    <string>uni2006</string>
    <string>uni2007</string>
    <string>uni2008</string>
    <string>uni2009</string>
    <string>uni200A</string>
    <string>uni2010</string>
    <string>uni2011</string>
    <string>uni2015</string>
    <string>uni2016</string>
    <string>uni207F</string>
    <string>uni20AE</string>
    <string>uni20D0</string>
    <string>uni20D1</string>
    <string>uni20D2</string>
    <string>uni20D3</string>
    <string>uni20D4</string>
    <string>uni20D5</string>
    <string>uni20D6</string>
    <string>uni20D7</string>
    <string>uni20D8</string>
    <string>uni20D9</string>
    <string>uni20DA</string>
    <string>uni20DB</string>
    <string>uni20DC</string>
    <string>uni20DD</string>
    <string>uni20DE</string>
    <string>uni20DF</string>
    <string>uni20E0</string>
    <string>uni20E1</string>
    <string>uni20E2</string>
    <string>uni20E3</string>
    <string>uni2116</string>
    <string>uni2219</string>
    <string>uni23BA</string>
    <string>uni23BB</string>
    <string>uni23BC</string>
    <string>uni23BD</string>
    <string>uni2409</string>
    <string>uni240A</string>
    <string>uni240B</string>
    <string>uni240C</string>
    <string>uni240D</string>
    <string>uni2424</string>
    <string>uni25AE</string>
    <string>uni25B6</string>
    <string>uni25C0</string>
    <string>uni25C6</string>
    <string>uni302A</string>
    <string>uni302B</string>
    <string>uni302C</string>
    <string>uni302D</string>
    <string>uni302E</string>
    <string>uni302F</string>
    <string>uni3099</string>
    <string>uni309A</string>
    <string>uniF6BE</string>
    <string>uniFB1E</string>
    <string>uniFE20</string>
    <string>uniFE21</string>
    <string>uniFE22</string>
    <string>uniFE23</string>
    <string>uniFFFD</string>
    <string>uogonek</string>
    <string>upblock</string>
    <string>uring</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>yen</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>zero</string>
    <string>igravecyr</string>
    <string>Igravecyr</string>
    <string>uni0432.loclBGR</string>
    <string>uni0434.loclBGR</string>
    <string>uni0436.loclBGR</string>
    <string>uni0438.loclBGR</string>
    <string>uni0439.loclBGR</string>
    <string>uni043A.loclBGR</string>
    <string>uni043F.loclBGR</string>
    <string>uni0442.loclBGR</string>
    <string>uni0446.loclBGR</string>
    <string>uni0448.loclBGR</string>
    <string>uni0449.loclBGR</string>
    <string>uni0433.loclBGR</string>
    <string>uni044E.loclBGR</string>
  </array>
</dict>
</plist>
